<div class="container mt-4">
    <div class="d-flex justify-content-start mb-3">
        <button class="btn btn-primary" (click)="openCustomerDialog()">Add a new Customer</button>
    </div>
    <h5>Customer Details</h5>
    <table class="table table-striped table-bordered align-middle">
        <thead class="table-light">
            <tr >
                <th scope="col">Customer Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Registration Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customersList">
                <td>{{ customer.customerId }}</td>
                <td>{{ customer.firstName }}</td>
                <td>{{ customer.lastName }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phoneNumber }}</td>
                <td>{{ customer.registrationDate }}</td>
                <td>
                    <button class="btn btn-sm btn-primary me-2" (click)="openCustomerDialog(customer)">Edit</button>
                    <button class="btn btn-sm btn-danger" (click)="OpenConfirmDialog(customer.customerId)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>